<div>
  <div class="about">
    <% @bookmarks %>
    <div>
      <h2 class="category">Category</h2>
      <div class="scrolling-wrapper">
        <%= render 'bookmarkcard' %>
        <%= render 'bookmarkcard' %>
        <%= render 'bookmarkcard' %>
        <%= render 'bookmarkcard' %>
      </div>
    </div>
  </div>
</div>


For each recommendationCard saved DO
  If recommendationCategory.new? == true
    Create a full div as the one above
    add recommendationCard to the category created
  else
    add recommendationCard to the category it belongs
  end
end

Create a parent div, or add a child div to the parent div


Should it be coded in the html file? or a render to a ruby file is needed?

  recommendationCard each do |bookmark|
    if recommendationCategory.new? == true
      FULL DIV
      <%= render 'bookmarkcard' %> (to the correspondant div)
