<div class="message <%= current_user.id == message.messager_id ? "right" : "" %>">
  <div class="media w-50 mb-3">
    <% if current_user.id != message.messager_id %>
      <%= cl_image_tag @matched_user.photo.key, alt: "avatar", class: "avatar-1" %>
    <% end %>
    <div class="media-body ml-3">
      <div class="bg-light rounded py-3 px-3 mb-2 <%= current_user.id == message.messager_id ? "bg-primary" : "" %>">
        <div class="text-small mb-0 <%= current_user.id == message.messager_id ? "text-white" : "text-muted" %>"><%= message.content %></div>
      </div>
      <p class="small text-muted"><%= message.created_at.strftime("%l:%M %p  |  %b %e") %></p>
    </div>
  </div>
</div>
