    <div class="details">
      <div class="item">
        <i class="far fa-clock fa-lg pr-3" style="width:30px;"></i>
        <div class="content">
          <h1>Duration</h1>
          <p><%= recommendation.duration %></p>
        </div>
      </div>
      <div class="item">
        <i class="fas fa-street-view fa-lg pr-3" style="width:30px;"></i>
        <div class="content">
          <h1>Location</h1>
          <p><%= recommendation.location %></p>
        </div>
      </div>
      <div class="item">
        <i class="fas fa-dollar-sign fa-lg pr-3" style="width:30px;"></i>
        <div class="content">
          <h1>Price Range</h1>
          <p><%= recommendation.price_range %></p>
        </div>
      </div>
      <div class="item">
        <i class="fas fa-phone-volume fa-lg pr-3" style="width:30px;"></i>
        <div class="content">
          <h1>Reservation</h1>
          <p><%= recommendation.reservation.to_i.zero? ? 'Not required' : 'Required' %></p>
        </div>
      </div>
      <div class="item">
        <i class="fas fa-heart fa-lg pr-3" style="width:30px;"></i>
        <div class="content">
          <h1>Category</h1>
          <p><%= recommendation.category %></p>
        </div>
      </div>
