<div class="recommendationcontainer justify-content-center mx-auto">
    <div class="col-xs-12 pt-0 mt-0">
      <% if @recommendation.photo.attached? %>
        <%= cl_image_tag @recommendation.photo.key, class: "header" %>
      <% else %>
        <img src="https://lh3.googleusercontent.com/proxy/H2n2iNKSDiifjV41jXbg64HSq3WloEOvQ84KeR4rL1Ag6g4PWPYx4okc1qIApLYAzT4qEx80GGEqX0qQqUF6sfn7AXMPhcj8BAyUv6nLUOxqMxxJ53fOUnA" alt="" class="header">
      <% end %>
    </div>
    <div class="title">
      <h1><%= @recommendation.title %></h1>
        <% if @recommendation.user == current_user %>
          <%= link_to recommendation_path, method: :delete do %>
            <i class="far fa-trash-alt fa-xs" style="margin-right: 8px; color: #5D6CF3"></i>
          <% end %>
        <% end -%>
        <% if !current_user.bookmarkedrecommendation_ids.include?(@recommendation.id) %>

          <%= link_to (recommendation_bookmarks_path(@recommendation)), method: :post do %>
            <i class="far fa-bookmark fa-xs" style="margin-right: 8px; color: #5D6CF3"></i>
          <% end %>

        <% else %>

          <%= link_to bookmark_path(@recommendation.bookmarks.find_by_user_id(current_user.id)), method: :delete do %>
            <i class="fas fa-bookmark fa-xs" style="margin-right: 8px; color: #5D6CF3"></i>
          <% end %>

        <% end %>
    </div>
    <div class="rating mb-3">
      <i class="fas fa-star fa-xs"></i>
      <i class="fas fa-star fa-xs"></i>
      <i class="fas fa-star fa-xs"></i>
      <i class="fas fa-star fa-xs"></i>
      <i class="fas fa-star fa-xs"></i>
    </div>
    <div class="body">
      <p><%= @recommendation.description %></p>
    </div>
    <div class="border border-bottom mx-3"></div>
      <%= render 'recombody', recommendation: @recommendation %>
    </div>
    <% if current_user.local_ids.include?(@recommendation.user.id) %>
    <div class="getintouch">
      <%= link_to match_path(Match.find_by(local_id: @recommendation.user.id)) do %>
      <button class="btn btn-primary">Get in touch</button>
      <% end %>
    </div>
    <% end %>
    <% if user_signed_in? && !current_user.rated_recommendations.include?(@recommendation)%>
    <div class="getintouch">
      <%= link_to new_recommendation_review_path(@recommendation) do %>
      <button class="btn btn-primary">Add a Review!</button>
      <% end %>
    </div>
    <% end %>
    <div class="border border-bottom mx-3"></div>
       <div class="about">
          <div class="card">
            <div class="title ml-0 pl-0">
              <h1 class="ml-0">Reviews</h1><i class="fas fa-star fa-xs" style="color: #5D6CF3;"></i>
            </div>
          <% @recommendation.reviews.each do |review| %>
            <%= render 'review', review: review %>
          <% end %>
        </div>
      </div>
</div>
