<% if user_signed_in? %>

<div class="home-container">
  <% if !user_signed_in? %>
  <h1 class="title">Join the greatest traveler community.</h1>
  <h2 class="subtitle">Find a local friend everywhere.</h2>
  <% else %>
  <h1 class="title"><%= current_user.first_name.nil? ? "Welcome again!" : "Hi, #{current_user.first_name}!" %></h1>
  <h2 class="subtitle">What do you want to do today?</h2>
  <% end %>

  <form id="home-form" action="matches" method="POST">
    <% if !user_signed_in? %>
  <label class="label" style="margin-bottom: 0px;"> For more accurate results, tell us which word fits you better:</label>
    <%= render 'layouts/components/tags' %>
    <% end %>
    <div class="Where">
      <label class="label" for="locationInput">Where are you going?</label>
        <input type="text" class="form-control" id="location" placeholder="" name="location">
    </div>
    <div class="When">
      <label class="label" for="DateInput">When are you going?</label>
        <input type="text" class="form-control" id="datepicker" placeholder="Select your dates" name="date">
    </div>
    <% if user_signed_in? %>
    <div class="">
      <input type="submit" value="Find a local" class="btn btn-primary" id="findLocals">
    </div>
  </form>
  <input type="submit" value="Recommend me" class="btn btn-outline-primary" id="Recommend" name="user_recommendations">
   <% else %>
   <input type="submit" value="Find a local" class="btn btn-primary" id="findLocals" disabled>
  <input type="submit" value="Recommend me" class="btn btn-primary" id="Recommend" name="recommendations">
   <% end %>
</div>
<%= render 'loader' %>

<% else %>

<div id="carouselExampleIndicators" class="carousel slide home-slides" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex flex-column">
        <h3 style="font-family: 'Minute'; color: white; font-size: 120px; padding-left: 12px; padding-top: 12px; text-shadow: 3px 3px #747fda; text-align: center; margin-top: 36px; justify-content: center;">wR</h3>
        <h1 style="text-align: center; font-size: 28px; margin-top: 30px; margin-bottom: 30px;">Join the greatest travelers community</h1>
      <div class="d-flex flex-column" style="margin-top: 30px;">
        <%= link_to "Sign Up", new_user_registration_path, class: "sign-up btn btn-light rounded-lg" %>
        <%= link_to "I'm already a user", new_user_session_path, class: "log-in btn btn-light rounded-lg", style: "margin-top: 20px;" %>
      </div>
      </div>
    </div>
    <div class="carousel-item">
      <h1>Add interests to your profile.</h1>
    </div>
    <div class="carousel-item">
      <div>
        <h1>Choose the city you are traveling to.</h1>
      </div>
    </div>
     <div class="carousel-item">
      <div>
        <h1>Get paired! Find a local friend everywhere.</h1>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<% end %>
