<div class="sign-up-container h-100">
  <div class="wrapper">
     <p class="logo my-4 d-inline-block pt-3" style="font-family: 'Minute'">
      wR
    </p>
    <h2 class="subtitle" style="font-size: 24px; color: black;">Welcome back!</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="session-form">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="form-actions" style="padding-top: 0px;">
        <%= f.button :submit, "Log in", class: "btn btn-primary" %>
        </div>
        <button class="btn btn-outline-primary sign-up-fb mb-3">
          <i class="fab fa-facebook-square" style="color: #4267b2; padding-right: 8px;"></i>Log in with Facebook
        </button>
        <% end %>
    <%= render "devise/shared/links_without_signup" %>
  </div>
