<div class="about">
  <% if !match.ratings.where(rater_id: current_user.id).present? %>
    <%=link_to new_match_rating_path(match) do %>
  <div class="card btn btn-outline-primary">
     <strong>RATE THIS USER</strong>
  </div>
    <% end %>
  <% end %>
  <div class="card">
    <div class="title">
      <h1>Personal information</h1><i class="fas fa-id-card-alt fa-xs" style="color: #5D6CF3;"></i>
    </div>
    <ul>
      <li>Age: <%= age %></li>
      <li>Occupation: <%= user.occupation %></li>
      <li>Languages:
        <% if !user.languages.nil? && !user.languages.empty?  %>
        <% user.languages.each do |language| %>
        <%= language %>
        <% end %>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="card">
    <div class="title">
      <h1>Interests</h1><i class="fas fa-heart fa-xs" style="color: #5D6CF3;"></i>
    </div>
    <% user.interests.each do |interest| %>
    <%= interest %>
    <% end %>
  </div>

  <div class="card">
    <div class="title">
      <h1>Rover Score</h1><i class="fas fa-medal fa-xs" style="color: #5D6CF3;"></i>
    </div>
    <ul>
      <li>Rating: <%= user.score %></li>
      <li>Cities Visited:
      <% @matched_user.locals.group_by { |local| local.city }.keys.each do |city| %>
      <%= city %>
      <% end %>
      </li>
      <li>People Connected: <%= people_connected %> </li>
    </ul>
  </div>

</div>

<%= console %>
