<!-- Chat Box-->
<div class="d-flex flex-column min-vh-100">
  <div class="match-photo" style="display: flex; justify-content: left; box-shadow: 0 2px 2px -2px rgba(0,0,0,.2); padding: 8px; background-color: #f8f9fa; margin-bottom: 8px;">
    <!-- <i class="fas fa-chevron-left fa-2x" style="color: #aaaaaa7d; padding-top: 6px; margin: 10px;"></i> -->
    <%= cl_image_tag @matched_user.photo.key, alt: "avatar", class: "avatar-1" %>
   <h5 class="p-3 m-0 flex-grow-0" style="font-size: 16px; color: grey;">
     <%= @matched_user.first_name %>
  </h5>
  </div>

  <div id="chat-messages" class="messages flex-grow-1">
    <div class="container-fluid">
      <% @match.messages.each do |message| %>
      <%= render "message", message: message %>
      <% end %>
    </div>
  </div>
  <div class="chat-input flex-grow-0 d-flex">
    <%= simple_form_for [ @match, Message.new ], remote: true do |f| %>
    <%= f.input :content, label: false %>
    <%= button_tag(type: 'submit', class: "btn bg-primary my-0 px-2", style: "border-radius: 50%") do %>
    <i class="fas fa-paper-plane" style="color: white"></i>
    <% end %>
    <% end %>
    </div>
  </div>
</div>

<script>
  function scrollLastMessageIntoView() {
    const messages = document.querySelectorAll('.message');
    const lastMessage = messages[messages.length - 1];
    if (lastMessage !== undefined) {
      lastMessage.scrollIntoView();
    }
    document.getElementById("message_content").focus()
  }
  scrollLastMessageIntoView();
  setTimeout(function(){
    App['match_<%= @match.id %>'] = App.cable.subscriptions.create(
      { channel: 'MatchesChannel', match_id: <%= @match.id %> },
      {
        received: (data) => {
          if (data.current_user_id !== <%= current_user.id %>) {
            const messagesContainer = document.querySelector('.messages');
            messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
            scrollLastMessageIntoView();
            document.getElementById("message_content").focus()
          }
        }
      }
      )
  }, 2000);
</script>
