<div class="container mb-3">
  <div class="title-matches-index">
    My Rovers
  </div>
  <div class="avatar-profiles">
    <span class="">
      <% @matches.each do |match| %>
        <%= link_to match_path(match) do %>
          <% if match.tourist == current_user %>
            <% if match.local.photo.attached? %>
              <%= cl_image_tag match.local.photo.key, class: 'avatar-3' %>
            <% else %>
              <img class="avatar-3" alt="avatar-bordered" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" />
            <% end %>
          <% else %>
            <% if match.tourist.photo.attached? %>
              <%= cl_image_tag match.tourist.photo.key, class: 'avatar-3' %>
            <% else %>
              <img class="avatar-3" alt="avatar-bordered" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" />
            <% end %>
        <% end %>
      <% end %>
      <% end %>
    </span>
  </div>
<div class="container mx-auto" style="width: 100%;">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="chat-header">
        <div class="chat-avatar" style="display: flex; justify-content: space-between;">
        <h3 class="pr-2"><%= @matched_user.first_name %></h3>
          <% if @matched_user.photo.attached? %>
          <%= cl_image_tag @matched_user.photo.key, class: "avatar-bordered my-2" %>
          <% else %>
          <img src="" alt="" class="avatar-bordered my-2">
          <% end %>
        </div>
        <div class="messages">
          <% @match.messages.each do |message| %>
            <%= render "message", message: message %>
          <% end %>
        </div>
        <div id="create-message">
          <%= simple_form_for [ @match, Message.new ], remote: true do |f| %>
            <%= f.input :content, label: false %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
  <script>

    function scrollLastMessageIntoView() {
      const messages = document.querySelectorAll('.message');
      const lastMessage = messages[messages.length - 1];

      if (lastMessage !== undefined) {
        lastMessage.scrollIntoView();
      }
    }
    scrollLastMessageIntoView();

    setTimeout(function(){
      App['match_<%= @match.id %>'] = App.cable.subscriptions.create(
        { channel: 'MatchesChannel', match_id: <%= @match.id %> },
        {
          received: (data) => {
            if (data.current_user_id !== <%= current_user.id %>) {
              const messagesContainer = document.querySelector('.messages');
              messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
              scrollLastMessageIntoView();
            }
          }
        }
      )
    }, 2000);
  </script>
