<!-- Chat Box-->
<div class="d-flex flex-column min-vh-100">
  <div class="match-photo2 chat-top" style="">
    <%= link_to :back do %>
    <i class="fas fa-chevron-left fa-2x" style="color: #6c757d66; padding: 13px 6px 0px 6px;"></i>
    <% end %>
    <% if @matched_user.photo.attached? %>
    <%= cl_image_tag @matched_user.photo.key, alt: "avatar", class: "avatar-1" %>
    <% else %>
    <img src="https://pecb.com/conferences/wp-content/uploads/2017/10/no-profile-picture.jpg" alt="" class="avatar-1">
    <% end %>
   <h5 class="p-3 m-0 flex-grow-0" style="font-size: 18px; color: grey;">
     <%= @matched_user.first_name %>
  </h5>
  </div>

  <div id="chat-messages d-flex flex-column justify-content-end" class="messages flex-grow-1 messages-chat-wrapper container-fluid">
    <% @match.messages.each do |message| %>
    <%= render "message", message: message %>
    <% end %>
  </div>
  <div class="chat-input">
    <%= simple_form_for [ @match, Message.new ], html: { class: "form-row d-flex", id: "chatter"}, remote: true do |f| %>
    <%= f.input :content, label: false, input_html: { class: "flex-grow-1", style: "height: 45px"}, wrapper_html: { class: "flex-grow-1", style: "height: 45px"} %>
    <%= button_tag(type: 'submit', class: "btn bg-primary my-0 px-2 flex-grow-0", style: "width: 45px", id: "sender") do %>
    <i class="fas fa-paper-plane" style="color: white; margin-left: -7px;"></i>
    <% end %>
    <% end %>
    </div>
  </div>
</div>

<script>
  function scrollLastMessageIntoView() {
    const messages = document.querySelectorAll('.message');
    const lastMessage = messages[messages.length - 1];
    if (lastMessage !== undefined) {
      lastMessage.scrollIntoView();
    }
    document.getElementById("message_content").focus()
  }
  scrollLastMessageIntoView();
  setTimeout(function(){
    App['match_<%= @match.id %>'] = App.cable.subscriptions.create(
      { channel: 'MatchesChannel', match_id: <%= @match.id %> },
      {
        received: (data) => {
          if (data.current_user_id !== <%= current_user.id %>) {
            const messagesContainer = document.querySelector('.messages');
            messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
            scrollLastMessageIntoView();
            document.getElementById("message_content").focus()
          }
        }
      }
      )
  }, 2000);
</script>
