<div class="about h-100">
  <% user.recommendations.each do |recommendation| %>
    <div class="rcard">
        <%= cl_image_tag recommendation.photo.key, class: "img" %>
      <div class="title">
        <h1>
        <%= link_to recommendation_path(recommendation) do %>
        <%= recommendation.title %>
        <% end %>
        </h1>
      <%= render '/recommendations/bookmarktag', recommendation: recommendation %>
      </div>
      <div class="body">
      <p><%= recommendation.description %></p>
      </div>
      <div class="footer">
        <i class="fas fa-map-marker-alt fa-s"></i><p><%= recommendation.location %></p>
      </div>
    </div>
  <% end %>
</div>
