<div class="container">
  <div class="title-matches-index">
    My Local Friends
  </div>
  <div class="avatar-profiles">
    <span class="">
      <% @matches.each do |match| %>
        <%= link_to match_path(match) do %>
        <%= cl_image_tag match.local.photo.key, class: 'avatar-3' %>
      <% end %>
      <% end %>
    </span>
  </div>
  <div class="messages-avatars">
    <div class="title-matches-index">
      Messages
    </div>
  </div>
    <span class="">
      <div class="one-message">
        <%= link_to root_path do %>
          <img class="avatar-3" alt="avatar-bordered" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" />
        <% end %>
        <div class="">
          <p style="padding-left: 12px; margin-bottom: 2px;"><strong>Ani</strong></p>
          <p style="padding-top: 8px; padding-left: 12px; color: grey; margin-bottom: 2px;">Hello Analida, wanna go to..</p>
        </div>
      </div>
       <div class="one-message">
        <%= link_to root_path do %>
          <img class="avatar-3" alt="avatar-bordered" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" />
        <% end %>
        <div class="">
          <p style="padding-left: 12px; margin-bottom: 2px;"><strong>Ani</strong></p>
          <p style="padding-top: 8px; padding-left: 12px; color: grey; margin-bottom: 2px;">Hello Analida, wanna go to..</p>
        </div>
      </div>
      <div class="one-message">
        <%= link_to root_path do %>
          <img class="avatar-3" alt="avatar-bordered" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" />
        <% end %>
        <div class="">
          <p style="padding-left: 12px; margin-bottom: 2px;"><strong>Ani</strong></p>
          <p style="padding-top: 8px; padding-left: 12px; color: grey; margin-bottom: 2px;">Hello Analida, wanna go to..</p>
        </div>
      </div>
      <div class="one-message">
        <%= link_to root_path do %>
          <img class="avatar-3" alt="avatar-bordered" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" />
        <% end %>
        <div class="">
          <p style="padding-left: 12px; margin-bottom: 2px;"><strong>Ani</strong></p>
          <p style="padding-top: 8px; padding-left: 12px; color: grey; margin-bottom: 2px;">Hello Analida, wanna go to..</p>
        </div>
      </div>
    </span>
</div>
<%= console %>
