<div class="container">
  <div class="title-matches-index2 mt-3">
    My Rovers
  </div>
  <div class="avatar-profiles">
    <span class="d-flex">
      <% @matches.each do |match| %>
      <div class="align-items-center d-flex flex-column match-avatar">
        <%= render 'matchesprofiles', match: match %>
        <img src="https://www.countryflags.io/<%= match.local.country_flag %>/shiny/32.png" class="flag">
        <% if current_user == match.local %>
          <%= match.tourist.first_name %>
        <% else %>
          <%= match.local.first_name %>
        <% end %>
      </div>
      <% end %>
    </span>
  </div>
  <div class="messages-avatars mt-3">
    <div class="title-matches-index2">
      Messages
    </div>
  </div>
  <span class="">
      <% @matches.each do |match| %>
      <% next if match.messages.blank? %>
      <div class="one-message d-flex">
        <%= render 'matchesprofiles', match: match %>
        <%= link_to match_messages_path(match), class:"flex-grow-1 text-decoration-none" do %>
          <div class="">
            <p style="padding-left: 12px; margin-bottom: 2px; font-size: 16px; color: #495057d9; font-family: 'Poppins';"><strong><%= match.local.first_name %></strong></p>
            <p style="padding-top: 8px; padding-left: 12px; color: grey; margin-bottom: 2px; font-size: 14px;"> <%= truncate(match.messages.last&.content, length: 32, omission: '...') %> </p>
          </div>
        <% end %>
      </div>
      <% end %>
    </span>
</div>
