<div class="interests">

  <div class="card">
    <h5 class="name" style="color: #5D6CF3">Profile settings</h5>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "test" }) do |f| %>
        <%= f.error_notification %>

         <div class="form-groups mb-3">
            <% if current_user.photo.attached? %>
              <p>Current Photo:</p>
              <img class="avatar-match dropdown-toggle mb-3" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= cl_image_path current_user.photo.key %>" />
              <%= f.input :photo, label: "Change photo", as: :file %>
            <% else %>
              <%= f.input :photo, as: :file %>
            <% end %>
          </div>
        <div class="form-inputs mt-4">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :first_name, required: true, autofocus: true %>
          <%= f.input :last_name, required: true, autofocus: true %>
          <%= f.input :city, required: true, autofocus: true, input_html: { id: "location"}, label: "Where are you a local?" %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :languages,
                      required: false,
                      autofocus: true,
                      :collection => %w[Spanish Italian German English French Portuguese Greek Russian Polish Rumanian Danish],
                      input_html: { multiple: true}, data: { placeholder: "Select languages"} %>

          <%= f.input :birthday,
                      as: :date,
                      start_year: Date.today.year - 90,
                      end_year: Date.today.year - 12, discard_day: false,
                      order: [:day, :month, :year],
                      required: false %>

          <%= f.input :biography, required: false, autofocus: true, placeholder: "Add some information about yourself" %>
          <%= f.input :occupation, required: false, autofocus: true %>


          <%= f.input :current_password,
              hint: "we need your current password to confirm your changes",
              required: true,
              input_html: { autocomplete: "current-password" } %>



        </div>
        <div class= "form-actions">
          <%= f.input :available, label: "Availiable as local" %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn btn-primary mb-3" %>
        </div>

      <% end %>

      <p id="light" >Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "linkdiscrete" %></p>
  </div>
</div>
