<!-- Button trigger modal -->
<button class="tag mt-4" data-toggle="modal" data-target="#exampleModal">
 + Add interests
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="interests">
      <h4 class="interesttag mt-4">Going out</h4>
      <%= render 'layouts/components/tagsgoingout' %>
    </div>
    <div class="interests">
      <h4 class="interesttag mt-4">Food</h4>
      <%= render 'layouts/components/tagsfood' %>
    </div>
    <div class="interests">
      <h4 class="interesttag mt-4">Sports</h4>
      <%= render 'layouts/components/tagssports' %>
    </div>
    <div class="interests">
      <h4 class="interesttag mt-4">Other activities</h4>
      <%= render 'layouts/components/tagsotheractivities' %>
    </div>
    <div class="interests">
      <h4 class="interesttag mt-4">Other interests</h4>
      <%= render 'layouts/components/tagsotherinterests' %>
    </div>
    <div class="interests">
      <h4 class="interesttag mt-4">Music</h4>
      <%= render 'layouts/components/tagsmusic' %>
    </div>
    <div class="interests">
      <h4 class="interesttag mt-4">Describe your taste</h4>
      <%= render 'layouts/components/tagstaste' %>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
