<!-- Button trigger modal -->
<button class="btn btn-link mt-4" data-toggle="modal" data-target="#exampleModal">
 + Add interests
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">


  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title title" id="exampleModalLabel">Choose your interests</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">

          <!-- <input type="hidden" name="user[interest_ids][]" value=""> -->

          <div class="interests-choices">

            <% @groups[nil].each do |parent_category| %>
            <h1 class="subtitle-small my-4"><%= parent_category.title %></h1>
              <% @groups[parent_category.id].each do |category| %>
                <div class="tag interesttag interest-choices <%= current_user.interest_ids.include?(category.id) ? "active" : "" %>"@groups@groups id="">
                  <i class="fa fa-plus" id="plus"></i>
                  <label for="post_category_ids_<%= category.id %>">
                  <label id="interestlabel" for=""><%= category.title %></label>
                  <input type="checkbox" class="hidden" value="<%= category.id %>" name="user[interest_ids][]" id="post_category_ids_<%= category.id %>" <%= current_user.interest_ids.include?(category.id) ? "checked" : "" %>>
                  </label>
                </div>
              <% end %>
            <% end %>


          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="form-actions">
          <%= f.button :submit, "Update" %>
        </div>
      </div>
    </div>
  </div>

  <% end %>
</div>
