<div class="interests">

   <div class="card">

    <h5 class="name-recommendation mb-3" style="color: #5D6CF3; margin: 0 16px;">Your recommendations</h5>

    <div style="height: 7px; margin: 0 16px;" class="bg-purple"></div>

    <div style= "margin: 0 16px;">
    <% current_user.recommendations.each do |recommendation| %>
      <div class="recomcard-style your-recomcard mt-3">
        <%= link_to recommendation_path(recommendation) do %>
          <% if recommendation.photo.attached? %>
            <%= cl_image_tag recommendation.photo.key, class: "img" %>
          <% end %>
          <div class="title">
            <h1>
              <%= link_to recommendation_path(recommendation) do %>
                <%= recommendation.title %>
              <% end -%>
            </h1>
          </div>
          <div class="body">
            <p><%= recommendation.description.truncate(140) %></p>
          </div>
          <div class="footer">
            <i class="fas fa-map-marker-alt fa-s"></i><p><%= recommendation.location %></p>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= link_to new_recommendation_path(recommendation) do %>
    <button class="btn btn-primary mb-3" style="align-items: center;">+ Add recommendations</button>
    <% end %>
    </div>
  </div>
</div>
