<nav class="navbar flex-grow-0 align-items-center" style="background-color: white;">
  <%= link_to "#" do %>
    <p class="logo">
      <%= image_tag "", alt: "", size: "25", class: "d-inline-block align-top" %>
    </p>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to "#" do %>
      <img class="avatar-bordered" alt="avatar-bordered" src="" />
    <% end %>
  <% elsif user_signed_in? && current_page?(PERFIL_PATH)%>
    <%= link_to "#" do %>
      <i class="fas fa-comments-alt"></i>
    <% end %>
  <% else %>
    <span class="d-flex align-items-center justify-content-end">
      <%= link_to "Log in", new_user_session_path, class: "log-in" %>
      <%= link_to "Become a Rover", new_user_registration_path, class: "sign-up" %>
    </span>
  <% end %>
</nav>
