<nav class="navbar align-items-center d-flex" style="background-color: white; box-shadow: 0 2px 2px -2px rgba(0,0,0,.2); height:70px;">
  <%= link_to root_path, style:"text-decoration: none;", class: "mr-auto p-2" do %>
    <p class="logo pt-2 my-auto" style="font-family: 'Minute'">
      wR
    </p>
  <% end %>
  <% if user_signed_in? %>
  <%= render 'layouts/components/navbar_partials/user_links' %>
  <% elsif user_signed_in? && current_page?(edit_user_registration_path)%>
    <%= link_to "match_path" do %>
      <i class="far fa-comment-alt"></i>
    <% end %>
  <% else %>
    <span class="d-flex align-items-center justify-content-end">
      <%= link_to "Log in", new_user_session_path, class: "log-in" %>
      <%= link_to "Become a Rover", new_user_registration_path, class: "sign-up" %>
    </span>
  <% end %>
</nav>
