<nav class="navbar flex-grow-0 align-items-center" style="background-color: white;">
  <%= link_to HOME_PATH_HERE do %>
    <p class="logo">
      <%= image_tag "ADD LOGO FILE", alt: "", size: "25", class: "d-inline-block align-top" %>
    </p>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to PROFILE_PATH_HERE do %>
      <img class="avatar-bordered" alt="avatar-bordered" src="" />
    <% end %>
  <% elsif user_signed_in? && current_page?(PERFIL_PATH)%>
    <%= link_to MATCHES_PATH_HERE do %>
      <i class="fas fa-comments-alt"></i>
    <% end %>
  <% else %>
    <span class="d-flex align-items-center justify-content-end">
      <%= link_to new_user_registration_path do %>
        <button class="" type="button">Become a Rover</button>
      <% end %>
      <%= link_to new_user_session_path do %>
        <button class = "" id = "link" type="button">Log in</button>
      <% end %>
    </span>
  <% end %>
</nav>
