<!DOCTYPE html>
<html class= "h-100">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <title>weRove - Connect with rovers everywhere</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable"  content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>
  <body class="main-body h-100 d-flex flex-column">
    <% unless current_page?(user_registration_path) %>
    <% if user_signed_in? %>
      <%= render 'layouts/navbar' unless params[:controller] == "messages" && params[:action] == "index" %>
      <% end %>
      <%= render 'shared/flashes' %>
    <% end %>
    <% if user_signed_in? %>
      <div style="<%= params[:controller] == "messages" && params[:action] == "index" ? '' : 'padding-top: 70px;' %>" class="d-flex flex-column h-100">
    <% end %>
        <%= yield %>
    <% if user_signed_in? %>
      </div>
      <% end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
